{% extends 'DJETGimelaBundle:Acceuil:menuracine.html.twig' %} 
{% block body %}
<h3>{{form_titre}}</h3>

{#<div class="well">#}
<div class="form-group">
      <div class="col-sm-12">
  	{{ form(form) }}
      </div>
</div>
{% endblock %}
